@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Mogilte';
    src: url('assets/Mogilte.otf');
}

:root {
    --blue-1: #092635;
    --blue-2: #1b4242;
    --blue-3: #00a99d;
    --blue-4: #9ec8b9;
    --blue-5: #bce2e6;
    --blue-6: #d0e7d2;
    --blue-7: #5becb4;
    --white-1: #f6f4ee;
    --white-2: #f2f2f2;
    --gradient-1: #092635;
    --gradient-2: #006e5f;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    color: black;
    background-color: var(--white-1);

    font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mogilte';
}

header {
    width: 100%;
    height: 100px;
    padding: 0 5%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: var(--blue-1);

    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    height: 50px;
    margin-right: 1rem;
}

.logo img {
    height: 100%;
}

#login,
#register {
    height: 1.2rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

#login {
    border-right: 1px solid white;
}

nav a,
#login a,
#register a {
    color: white;

    font-size: 1.2rem;

    text-decoration: none;
}

.header_info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

#mobile {
    display: none;
}

.header_info span {
    height: 1.2rem;
    padding-right: 1rem;
    border-right: 1px solid white;
    margin-right: 1rem;

    color: var(--blue-6);
    font-size: 1.2rem;
}

#search {
    height: 1.2rem;
    padding: 0 1rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 1rem;
}

#logout {
    height: 1.2rem;
    padding-right: 1rem;
    border-right: 1px solid white;
    margin-right: 1.2rem;
}

#logout a {
    transition: all 300ms ease;
}

#logout a:hover {
    background-color: transparent !important;
    transform: scale(1.1);

    transition: all 300ms ease;
}

#search img,
#logout img {
    height: 1.2rem;
    cursor: pointer;
}

#profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    height: 40px;

    cursor: pointer;
}

.profile_picture {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 1rem;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--blue-3);
}

.profile_name {
    font-size: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
}


footer {
    width: 100%;
    padding: 5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    line-height: 1.2rem;
    color: white;
    background-color: var(--blue-1);
}

footer .logo {
    margin-bottom: 3rem;
}

.columns {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer .columns {
    gap: 3rem;
}

.column {
    flex: 0 1 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.column-rrss {
    flex: 0 1 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.icons-rrss {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

footer h3 {
    color: var(--blue-4);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a img {
    height: 1.5rem;
    margin-right: .2rem;
}


main {
    padding: 5%;
    overflow-x: hidden;
}

.path {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 2rem;
}

.route {
    display: block;

    background-color: var(--blue-5);
    color: black;
    text-decoration: none;
    padding: .5rem 3rem;
}

.next_route {
    padding: 0;
    font-size: 3rem;
    color: var(--white-1);
    margin-right: -1.5rem;
    z-index: 10;
}

.titles h1 {
    font-size: 4rem;
    color: var(--blue-1);
}

.titles h2 {
    font-size: 1.5rem;
    color: var(--blue-3);
}

.titles span {
    color: var(--blue-1);
}

.professor {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.professor b {
    font-weight: 600;
}

.information {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.information select {
    margin-left: .5rem;

    font: inherit;

    background-color: var(--blue-5);
    color: black;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
}

table {
    width: 100%;
    margin-top: 50px;
    color: white;
    border-radius: 1rem;
    overflow: hidden;
    background: linear-gradient(90deg, var(--gradient-1), var(--gradient-2));
}

tr {
    border-top: 1px solid var(--blue-1);
}

tr:first-child {
    border-top: none;
}

td,
th {
    border-left: 1px solid var(--blue-3);
}

td:first-child,
th:first-child {
    border-left: none;
}

table * {
    padding: 3rem 0;
    text-align: center;
}

th {
    background-color: rgba(0, 28, 42, .5);
    text-transform: uppercase;
}

.content {
    background-color: var(--white-2);
    position: relative;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    overflow: hidden;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.content_logo {
    width: 40%;
    aspect-ratio: 1/1;

    background-image: url(img/logo_wituttext.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    z-index: 10;
    bottom: -10rem;
    right: -5rem;
    opacity: .3;
}

.formation {
    flex: 0 1 30%;
    padding: 1rem;
    padding-bottom: 7rem;
    margin-bottom: 7rem;

    position: relative;
    z-index: 20;

    background-color: var(--blue-2);
    border-radius: 10px;
    color: white;

    text-align: center;
}

.formation>img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.formation h4 {
    color: var(--blue-4);
    margin-bottom: .5rem;
}

.formation .button {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);

    width: 10rem;
    aspect-ratio: 1/1;
    background-color: var(--white-2);
    border-radius: 50%;
    padding: 1rem;
}

.formation .img {
    width: 100%;
    border-radius: 50%;
    background-color: var(--white-2);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    padding: 2.5rem;
}

.img img {
    width: 100%;
}

#collapse {
    display: none;
}

#hero {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(45deg, var(--blue-1), var(--blue-2));

    position: relative;
    padding: 0 5%;
}

#hero .column {
    flex: 1 0 50%;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 100;
}

#hero .margin {
    display: inline-block;
    width: 3rem;
}

#hero .subtitle {
    text-transform: uppercase;
    color: grey;
    font-size: 1.5rem;
}

#hero h1 {
    margin: 2rem 0;
    font-family: 'Mogilte';
    font-size: 5rem;
    color: var(--white-2);
}

#hero h1 .title {
    color: var(--blue-7);
    text-shadow: 0 0 1rem var(--blue-4);
}

.float_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.float_img img {
    width: auto;
    position: absolute;
}

.cta {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80px;
    width: 200px;
    background-color: var(--blue-4);
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all ease 500ms;
    cursor: pointer;
}

.cta:hover {
    background-color: var(--blue-3);
}





/* SOFIA */
/* SECTION 1 CSS */

.section1-container {
    height: 80vh;
    display: flex;
    position: relative;
}

.part-section1 {
    flex: 1;
}

.part-section1 h1 {
    font-size: clamp(3rem, 2.5rem + 2vw, 4rem);
    color: #1b4242;
    margin-bottom: 40px;
}

.part-section1 p {
    font-size: clamp(1.2rem, 1.15rem + 0.2vw, 1.3rem);
}

.firstp {
    margin-bottom: 20px;
}

.part-section1:first-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.part-section1:last-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.round-circle-section1 {
    margin-left: 80px;
    height: 600px;
    width: 600px;
}


.extra-info-section1 {
    position: absolute;
    background-color: #092635;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 10%;
    bottom: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    color: #5becb4;
}

.users-section1-icon {
    width: 60px;
    height: 60px;
}


/* SECTION 2 CSS */

.section2-container {
    margin-top: 200px;
    height: 90vh;
    display: flex;
    gap: 2rem;
}



.part-section2:first-child {
    flex: 4;
}

.part-section2:last-child {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
}

.title-section2 {
    margin: 40px 0px 20px 10px;
}

.title-section2 h1 {
    font-size: clamp(3rem, 2.5rem + 2vw, 4rem);
    color: #1b4242;
}

.title-section2 p {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-size: clamp(1.2rem, 1.15rem + 0.2vw, 1.3rem);
}

.boxes-section2 {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.item-section2-box {
    max-width: 350px;
    height: 250px;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.white-space-section2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.white-space-section2:first-child {
    margin-right: 40px;
}

.white-space-section2:last-child {
    margin-left: 40px;
}


.row-section2 {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.row-2-row {
    align-items: flex-start;
    margin-top: 15px;
}

.row-1-row {
    margin-bottom: 15px;
    align-items: flex-end
}

.item-section2-box p {
    font-size: clamp(1.2rem, 1.15rem + 0.2vw, 1.3rem);
}

.item-section2-box:last-child p {
    text-align: right;
}

.boxes-section2 img {
    width: 100px;
    height: 100px;
}

.boldertext-section2 {
    margin-top: 20px;
    font-weight: bolder;
}

.woman-laptop {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}



.section3-container {
    margin-top: 200px;
    width: 100vw;
    margin-left: -5vw;
    height: 90vh;
    display: flex;
    overflow: hidden;
}

.circle-section3 {
    width: 100vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--blue-1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 3rem;
    padding: 15% 0;
    color: white;
    transform: translateX(-30%) translateY(30%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.circle-section3 h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.circle-section3 p {
    display: block;
    width: 50%;
    margin-left: 50%;
}

iframe {
    width: 100vw;
    height: 50vh;
    margin-left: -5vw;
    border: 0;
    margin-bottom: -5vw;
}


.social a {
    color: #fff;
    text-decoration: none;
}

.social {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 200;
}

.social ul {
    padding: 0px;
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}

.social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg);
    transition: all 1s;
}

.social ul li i {
    display: inline-block;
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    transform: rotate(0deg);
}



@media screen and (max-width: 1000px) {
    header {
        flex-flow: column nowrap;
        height: 150px;
        padding-bottom: 1rem;
        gap: 1rem;
        transition: all 300ms ease;
    }

    nav {
        padding-top: 1rem;
        width: 100%;
        flex-flow: row wrap;
        gap: 0;
    }

    .header_info span {
        height: auto;
    }

    .path {
        flex-flow: row wrap;
    }

    .route {
        padding: .5rem;
        padding-left: 2rem;
    }

    .titles h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: .5rem;
        display: block;
        border-left: none;
    }

    footer .columns {
        flex-flow: column nowrap;
    }

    .formation {
        flex: 1 0 100%;
    }


    #collapse {
        display: block;
        font-size: 2rem;
        flex: 1 0 50%;
        text-align: right;
        cursor: pointer;
    }

    .links {
        width: 100%;
        height: 0;
        overflow-y: hidden;
        transition: all 300ms ease;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    /* Esta clase es para <header> */
    .visible {
        height: 100vh;
    }

    .visible .links {
        margin-top: 1.5rem;
        height: 70vh;
    }
}

@media screen and (max-width: 1200px) {
    header {
        flex-flow: column nowrap;
        padding-bottom: 1.5rem;
        gap: 1rem;
        height: 150px;
        transition: all 300ms ease;
        align-items: end;
    }

    #register {
        border-right: 1px solid white;
    }

    nav {
        padding-top: 1rem;
        width: 100%;
        flex-flow: row wrap;
        gap: 1.5rem;
    }

    .header_info span {
        height: auto;
    }

    #mobile {
        display: flex;
    }

    #principal {
        display: none;
    }

    .path {
        flex-flow: row wrap;
    }

    .route {
        padding: .5rem;
        padding-left: 2rem;
    }

    .titles h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: .5rem;
        display: block;
        border-left: none;
    }

    footer .columns {
        flex-flow: column nowrap;
    }

    .formation {
        flex: 1 0 100%;
    }

    #collapse {
        display: block;
        font-size: 2rem;
        flex: 1 0 1%;
        text-align: right;
        cursor: pointer;
    }

    .links {
        width: 100%;
        height: 0;
        overflow-y: hidden;
        transition: all 600ms ease-in-out;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* Esta clase es para <header> */
    .visible .links {
        margin-top: 1.5rem;
        height: auto;
        align-items: flex-start;
    }

    #hero .subtitle {
        color: white;
        text-shadow: 0 0 5px var(--blue-1);
    }

    #hero h1 {
        text-shadow: 0 0 1rem var(--blue-1);
    }

    .section1-container {
        flex-flow: column nowrap;
    }

    .section2-container {
        height: auto;
        flex-flow: column nowrap;
    }

    .row-section2 {
        flex-flow: column nowrap;
        align-items: center;
        gap: 2rem;
    }

    .row-section2 p {
        text-align: center !important;
    }

    .white-space-section2 {
        margin: 0 !important;
    }

    .section3-container {
        flex-flow: column-reverse nowrap;
        height: 150vh;
    }

    .circle-section3 {
        transform: translateY(50%) translateX(-30%);
    }

    .section3-container img {
        transform: translateY(50%);
    }
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .column:first-child {
        display: none;
    }

    .columns {
        display: flex !important;
        flex-flow: column nowrap !important;
        justify-content: center !important;
        align-items: center !important;
    }
}